<div class="ui-g">
  <div class="ui-g-4">
    <p-card>
      stuff
    </p-card>
  </div>
  <div class="ui-g-8">
    <p-card>
      <div class="ui-g"> 
        <div class="ui-g-12">
          <div class="ui-g-6">
            <div class="ui-g-12">
              
              <label>Add code snippit</label>
              <textarea rows="5" cols="30" pInputTextarea></textarea>
              
              <div class="ui-g-11 ui-fluid">
                <p-autoComplete 
                [(ngModel)]="tagList" 
                [(ngModel)]="userInput"
                [suggestions]="filteredTags" 
                (completeMethod)="filterTagSingle($event)" 
                (onSelect)="onSelect()"
                field="name" 
                [size]="30"
                placeholder="Tags" 
                [minLength]="1"></p-autoComplete>
                
              </div>
              <div class="ui-g-1">
                <p-button type="button" 
                (onClick)="addNewTag()" 
                icon="pi pi-check" 
                class="ui-button-success"></p-button> 
              </div>
            </div>
          </div>
          <div class="ui-g-6">
            <p-table [value]="selectedTags">
              <ng-template pTemplate="header">
                <tr>
                  <th>Tags</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-car>
                <tr>
                  <td>{{car}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </p-card>
    <p-button type="button" (onClick)="saveTags()" icon="pi pi-check" class="ui-button-success"></p-button> 
  </div>
</div>








